<ion-content>
  <ion-card>
    <ion-card-content>
      <div class="event_page">
        <div class="event">
          <h4>Event Info</h4>
          <ion-grid>
            <ion-row>
              <ion-col>
                <ion-item lines="none">
                  <ion-text>Event Name:</ion-text>
                </ion-item>
                <ion-item lines="none">
                  <ion-text>Description:</ion-text>
                </ion-item>
                <ion-item lines="none">
                  <ion-text>Date:</ion-text>
                </ion-item>
                <ion-item lines="none">
                  <ion-text>Start Time:</ion-text>
                </ion-item>
                <ion-item lines="none">
                  <ion-text>End Time:</ion-text>
                </ion-item>
              </ion-col>
            </ion-row>
          </ion-grid>
        </div>
      </div>
    </ion-card-content>
  </ion-card>
</ion-content>
