<ion-content>
  <div class="user_heder">
    <div class="heder_img">
      <img src="assets/image/power_of_10_hero_bg2x.png" width="100%">
    </div>
    <div class="heder_content">
      <img src="assets/image/cropped-logo4.png" width="70px">
      <p>SRKV</p>
    </div>
    <div class="user_profil">
      <ion-card>
        <ion-card-content>
          <form [formGroup]="UserForm" (ngSubmit)="Onsubmit()">
            <div class="container">
              <div class="outer" [ngStyle]="{'background-image': 'url(./../../../../assets/image/download.png)'}">
                <img class="upload_image" [src]="profilePicture">
                <div class="inner" (click)="presentActionSheet()">
                  <ion-icon name="camera" class="camera-icon"></ion-icon>
                </div>
              </div>
            </div>
            <ion-item>
              <ion-label position="floating">User Name</ion-label>
              <ion-input formControlName="UserName" placeholder="Enter UserName"></ion-input>
            </ion-item>
            <ion-text color="danger"
              *ngIf="UserForm.get('UserName').touched && UserForm.get('UserName').hasError('required')">
              UserName is required
            </ion-text>
            <ion-text color="danger"
              *ngIf="UserForm.get('UserName').touched && UserForm.get('UserName').hasError('pattern')">
              UserName must contain only letters
            </ion-text>
            <ion-item>
              <ion-label position="floating">Email</ion-label>
              <ion-input formControlName="Email" placeholder="Enter Email"></ion-input>
            </ion-item>
            <ion-text color="danger"
              *ngIf="UserForm.get('Email').touched && UserForm.get('Email').hasError('required')">
              Email is required
            </ion-text>
            <ion-text color="danger" *ngIf="UserForm.get('Email').touched && UserForm.get('Email').hasError('pattern')">
              Email is Invalid
            </ion-text>
            <ion-item>
              <ion-label position="floating">MobileNumber</ion-label>
              <ion-input formControlName="MobileNumber" placeholder="Enter MobileNumber"></ion-input>
            </ion-item>
            <ion-text color="danger"
              *ngIf="UserForm.get('MobileNumber').touched && UserForm.get('MobileNumber').hasError('required')">
              MobileNumber is required
            </ion-text>
            <ion-text color="danger"
              *ngIf="UserForm.get('MobileNumber').touched && UserForm.get('MobileNumber').hasError('pattern')">
              Mobilenumber must be 10 digits && Numbers Only
            </ion-text>
            <ion-item>
              <ion-label position="floating">WhatshapNumber</ion-label>
              <ion-input formControlName="WhatshapNumber" placeholder="Enter WhatshapNumber"></ion-input>
            </ion-item>
            <ion-text color="danger"
              *ngIf="UserForm.get('WhatshapNumber').touched && UserForm.get('WhatshapNumber').hasError('required')">
              WhatshapNumber is required
            </ion-text>
            <ion-text color="danger"
              *ngIf="UserForm.get('WhatshapNumber').touched && UserForm.get('WhatshapNumber').hasError('pattern')">
              WhatshapNumber must be 10 digits && Numbers Only
            </ion-text>
            <ion-item>
              <ion-textarea formControlName="Address" placeholder="Address" [autoGrow]="true">
              </ion-textarea>
            </ion-item>
            <ion-text color="danger"
              *ngIf="UserForm.get('Address').touched && UserForm.get('Address').hasError('required')">
              Address is required
            </ion-text>
            <ion-item>
              <ion-label position="floating">Date Of Birth</ion-label>
              <ion-input formControlName="DateOfBirth" placeholder="Enter Date Of Birth"></ion-input>
            </ion-item>
            <ion-text color="danger"
              *ngIf="UserForm.get('DateOfBirth').touched && UserForm.get('DateOfBirth').hasError('required')">
              DateOfBirth is required
            </ion-text>
            <ion-item>
              <ion-label position="floating">PinCode</ion-label>
              <ion-input formControlName="PinCode" placeholder="Enter PinCode"></ion-input>
            </ion-item>
            <ion-text color="danger"
              *ngIf="UserForm.get('PinCode').touched && UserForm.get('PinCode').hasError('required')">
              PinCode is required
            </ion-text>
            <div class="save_btn">
              <ion-button type="submit" class="btncolor" routerLink="/sidebar" [disabled]="UserForm.invalid">Save</ion-button>
            </div>
          </form>
        </ion-card-content>
      </ion-card>
    </div>
  </div>
</ion-content>
