ion-content {
  --ion-background-color: #F7F7F7;
  padding-top: 20%;
}

ion-toolbar {
  --ion-background-color: #E9E9E9;

  h1 {
    text-align: center;
  }
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 15%;

  h1 {
    font-weight: 700;
    font-size: 26px;
    color: #010100;
    margin-bottom: 15%;
  }

  img {
    width: 145px;
    height: 133px;
    border-radius: 50%;
  }

  p {
    width: 79%;
    text-align: center;
    color: #AAAAAA;
  }
}
.form {
  margin-top: 4%;
  padding-left: 30px;
  padding-right: 30px;

  ion-button {
    margin-top: 37px;
    height: 41px;
    font-size: 18px;
    width: 55%;
    margin-left: 62px;
    border-radius: 50%;
  }
}

ion-icon{
  font-size: 30px;
}
