<!-- <div class="head">
  <ion-header>
    <ion-toolbar>
      <h1>User-Profile</h1>
      <ion-icon slot="start" name="chevron-back-outline" routerLink="/sidebar"></ion-icon>
    </ion-toolbar>
  </ion-header>
</div>
<ion-content class="fondologin">
  <div class="header">
    <div class="container">
      <div class="outer"
        [ngStyle]="{'background-image': 'url(./../../../../assets/image/download.png)'}">
        <img class="upload_image" [src]="profilePicture">
        <div class="inner" (click)="presentActionSheet()">
          <ion-icon name="camera" class="camera-icon"></ion-icon>
        </div>
      </div>
    </div>
  </div>
  <p>Enter User Details </p>
  <form class="form" [formGroup]="UserForm" (ngSubmit)="UserForm.valid && Onsubmit()">
    <ion-item>
      <ion-label position="floating">User Name</ion-label>
      <ion-input formControlName="UserName" placeholder="Enter Name"></ion-input>
    </ion-item>
    <div class="danger" *ngIf="UserForm.get('UserName').touched && UserForm.get('UserName').hasError('required')">
      UserName is required
    </div>
    <div class="danger" *ngIf="UserForm.get('UserName').touched && UserForm.get('UserName').hasError('pattern')">
      UserName must contain only letters
    </div>
    <ion-item>
      <ion-label position="floating">Email</ion-label>
      <ion-input formControlName="Email" placeholder="Enter Email"></ion-input>
    </ion-item>
    <div class="danger" *ngIf="UserForm.get('Email').touched && UserForm.get('Email').hasError('required')">
      Email is required
    </div>
    <div class="danger" *ngIf="UserForm.get('Email').touched && UserForm.get('Email').hasError('pattern')">
      Email is Invalid
    </div>
    <ion-item>
      <ion-label position="floating">Mobile Number</ion-label>
      <ion-input formControlName="MobileNumber" placeholder="Enter Mobile Number"></ion-input>
    </ion-item>
    <div class="danger" *ngIf="UserForm.get('MobileNumber').touched && UserForm.get('MobileNumber').hasError('required')">
      MobileNumber is required
    </div>
    <div class="danger" *ngIf="UserForm.get('MobileNumber').touched && UserForm.get('MobileNumber').hasError('pattern')">
      Mobilenumber must be 10 digits && Numbers Only
    </div>
    <ion-item>
      <ion-label position="floating">Whatshap Number</ion-label>
      <ion-input formControlName="WhatshapNumber" placeholder="Enter text"></ion-input>
    </ion-item>
    <div class="danger" *ngIf="UserForm.get('WhatshapNumber').touched && UserForm.get('WhatshapNumber').hasError('required')">
      WhatshapNumber is required
    </div>
    <div  class="danger" *ngIf="UserForm.get('WhatshapNumber').touched && UserForm.get('WhatshapNumber').hasError('pattern')">
      WhatshapNumber must be 10 digits && Numbers Only
    </div>
    <ion-item>
      <ion-textarea formControlName="Address" placeholder="Address" [autoGrow]="true">
      </ion-textarea>
    </ion-item>
    <div  class="danger"*ngIf="UserForm.get('Address').touched && UserForm.get('Address').hasError('required')">
      Address is required
    </div>
    <ion-item>
      <ion-label position="floating">Date OF Birth</ion-label>
      <ion-input formControlName="DateOfBirth" placeholder="Enter Date OF Birth"></ion-input>
    </ion-item>
    <div class="danger" *ngIf="UserForm.get('DateOfBirth').touched && UserForm.get('DateOfBirth').hasError('required')">
      DateOfBirth is required
    </div>
    <ion-item>
      <ion-label position="floating">Pin Code</ion-label>
      <ion-input formControlName="PinCode" placeholder="Enter Number"></ion-input>
    </ion-item>
    <div class="danger"*ngIf="UserForm.get('PinCode').touched && UserForm.get('PinCode').hasError('required')">
      PinCode is required
    </div>
    <ion-button type="submit" class="login"  [disabled]="UserForm.invalid" expand="full"
      shape="round">Submit</ion-button>
  </form>
</ion-content> -->



<ion-content>
  <div class="user_heder">
    <div class="heder_img">
      <img src="assets/image/power_of_10_hero_bg2x.png" width="100%">
    </div>
    <div class="heder_content">
      <img src="assets/image/cropped-logo4.png" width="70px">
      <p>SRKV</p>
    </div>
    <div class="user_profil">
      <ion-card>
        <ion-card-content>
          <form>
            <div class="container">
              <div class="outer" [ngStyle]="{'background-image': 'url(./../../../../assets/image/download.png)'}">
                <img class="upload_image" [src]="profilePicture">
                <div class="inner" (click)="presentActionSheet()">
                  <ion-icon name="camera" class="camera-icon"></ion-icon>
                </div>
              </div>
            </div>
            <ion-item>
              <ion-label position="floating">User Name</ion-label>
              <ion-input placeholder="Enter UserName"></ion-input>
            </ion-item>
            <ion-item>
              <ion-label position="floating">Email</ion-label>
              <ion-input placeholder="Enter Email"></ion-input>
            </ion-item>
            <ion-item>
              <ion-label position="floating">MobileNumber</ion-label>
              <ion-input placeholder="Enter MobileNumber"></ion-input>
            </ion-item>
            <ion-item>
              <ion-label position="floating">WhatshapNumber</ion-label>
              <ion-input placeholder="Enter WhatshapNumber"></ion-input>
            </ion-item>
            <ion-item>
              <ion-textarea placeholder="Address" [autoGrow]="true">
              </ion-textarea>
            </ion-item>
            <ion-item>
              <ion-label position="floating">Date Of Birth</ion-label>
              <ion-input placeholder="Enter Date Of Birth"></ion-input>
            </ion-item>
            <ion-item>
              <ion-label position="floating">PinCode</ion-label>
              <ion-input placeholder="Enter PinCode"></ion-input>
            </ion-item>
            <ion-button routerLink="/sidebar">Save</ion-button>
          </form>
        </ion-card-content>
      </ion-card>
    </div>
  </div>
</ion-content>
