ion-content {
  // --ion-background-color: #F7F7F7;
  padding-top: 20%;
}

ion-toolbar {
  // --ion-background-color: #E9E9E9;

  h1 {
    text-align: center;
  }
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 7%;
  height: 30%;

  h1 {
    font-weight: 700;
    font-size: 26px;
    color: #010100;
    margin-bottom: 15%;
  }
}
p {
  width: 93%;
  text-align: center;
  color: #AAAAAA;
}
.form {
  padding-left: 30px;
  padding-right: 30px;

  ion-button {
    margin-top: 37px;
    height: 41px;
    font-size: 18px;
    width: 55%;
    margin-left: 62px;
    border-radius: 50%;
  }
}

.danger{
  color: red;
  margin-top: 4px;
}
ion-icon{
  font-size: 30px;
}




.camera-icon {
  height: 30px;
  width: 30px;
  color: white;
}
.outer {
  height: 100% !important;
  max-width: 150px !important;
  border-radius: 100%;
  position: relative;
  background-size: 150px 150px;
  color: #232D39;

}
.inner {
  background-color: #075E54;
  width: 39px;
  height: 38px;
  border-radius: 100%;
  position: absolute;
  top: 107px;
  display: flex;
  align-items: center;
  justify-content: center;
  left: 107px;
  padding: 7px;

}
.container {
  width: 150px;
  height: 150px;
  display: block;
  margin: 0 auto;

}
.upload_image{
  height: 100% !important;
  max-width: 150px !important;
  border-radius: 100%;
  position: relative;
  background-size: 150px 150px;
  color: #232D39;
}

