.camera-icon {
  height: 30px;
  width: 30px;
  color: white;
}
.outer {
  width: 100%;
  height: 100%;
  border-radius: 100%;
  position: relative;
  background-size: 150px 150px;
  color: #232D39;

}
.inner {
  background-color: #075E54;
  width: 39px;
  height: 38px;
  border-radius: 100%;
  position: absolute;
  top: 107px;
  display: flex;
  align-items: center;
  justify-content: center;
  left: 107px;
  padding: 7px;

}
.container {
  width: 150px;
  height: 150px;
  display: block;
  margin: 0 auto;

}
.upload_image{
  width: 100%;
  height: 100% ;
  border-radius: 100%;
  position: relative;
  overflow: hidden;
}

.heder_img {
  position: relative;
}

.heder_content {
  display: flex;
  position: absolute;
  top: 0;

  p {
    color: #ffff;
    margin: 27% 15%;
  }
}

.user_profil{
  position: absolute;
  top: 12%;
  left: 4%;
  right: 4%;
}

ion-button{
  margin:4% 0%;
}

ion-card{
  border-radius: 20px;
}
