<ion-menu contentId="main-content">
  <div class="heder_image">
    <div class="profile_view">
      <img src="./../../../assets/image/profile-removebg-preview.png">
      <h4>Name</h4>
      <p>MobileNumber</p>
    </div>
  </div>
  <ion-content>
    <ion-list>
      <ion-item>
        <ion-label>{{'selectYourLanguageg'|translate}}</ion-label>
        <ion-select [(ngModel)]="selected" [value]="selected" (ionChange)="changeLang()">
          <ion-select-option value="English">English</ion-select-option>
          <ion-select-option value="Hindi">Hindi</ion-select-option>
          <ion-select-option value="Tamil">Tamil</ion-select-option>
          <ion-select-option value="Bangla">Bangla</ion-select-option>
        </ion-select>
      </ion-item>
      <ion-item>
        <ion-icon name="chatbox-outline"></ion-icon>
        <ion-label>
          Help
        </ion-label>
      </ion-item>
      <ion-item>
        <ion-icon name="chatbox-outline"></ion-icon>
        <ion-label>
          Help
        </ion-label>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-menu>
<div class="ion-page" id="main-content">
  <div class="dashboard">
    <div class="heder_img">
      <img src="assets/image/power_of_10_hero_bg2x.png" width="100%">
    </div>
    <div class="heder_content">
      <img src="assets/image/cropped-logo4.png" width="70px">
      <p>SRKV</p>
    </div>
    <div class="toggle_menu">
      <ion-buttons>
        <ion-menu-toggle>
          <ion-icon name="settings-sharp" size="large"></ion-icon>
        </ion-menu-toggle>
      </ion-buttons>
    </div>
  </div>
  <!-- <ion-card>
    <ion-card-content>
      <div class="user_profile">
        <h2>Dashboard</h2>
        <img src="assets/image/profile-removebg-preview.png" width="50%">
        <h3>Name</h3>
      </div>
    </ion-card-content>
  </ion-card> -->
</div>




<!-- <ion-item>
        <ion-toggle (ionChange)="onToggleColorTheme($event)"></ion-toggle>
        <ion-label>Dark Theme Toogle</ion-label>
      </ion-item> -->


