
h5{
  text-align: center;
  color:#664bdc;
  font-size: 26px;
  font-weight: 600;
}

ion-list{
  flex-direction: column;
  align-items: center;
}

ion-item{
  font-size: 15px;
  padding: 2px;
}

ion-menu-button{
  color:#664bdc;
  font-size: 30px;
  margin-top: 10px;
  margin-left: 20px;
}

ion-icon{
  font-size: 29px;
  padding: 14px;
}

.side_img{
  width: 85%;
  height: 32%;
  margin: -46px 21px;
}

ion-title{
  margin-top: 10px;
}

img{
  height: 100vh;
}

h6{
  text-align: center;
  font-size: 25px;
}

ion-menu-toggle{
  padding-bottom: 20px;
}

