
h5{
  text-align: center;
  color:#664bdc;
  font-size: 26px;
  font-weight: 600;
}

ion-list{
  flex-direction: column;
  align-items: center;
}

ion-item{
  font-size: 15px;
  padding: 2px;
}

ion-menu-button{
  color:#664bdc;
  font-size: 30px;
  margin-top: 10px;
  margin-left: 20px;
}

ion-icon{
  font-size: 29px;
  padding: 14px;
}

.side_img{
  width: 100px;
  margin: 1% 30%;
}

ion-title{
  margin-top: 10px;
}

img{
  margin: 96px 0px;
}

h6{
  text-align: center;
  font-size: 25px;
}

