<div class="head">
  <ion-header>
    <ion-toolbar color="primary">
      <ion-buttons slot="start">
        <ion-button>
          <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
        </ion-button>
      </ion-buttons>
      <ion-buttons slot="end">
        <ion-button routerLink="register">Sign Up</ion-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>
</div>

  <ion-content class="fondologin">
    <div class="header">
      <h1>Login</h1>
      <img src="./../../../assets/image/dow.jfif">
    </div>
    <form class="form">
      <ion-item>
        <ion-input placeholder="Mobile Number"></ion-input>
      </ion-item>
      <ion-button class="login" expand="full" shape="round">Submit</ion-button>
    </form>
  </ion-content>

