<ion-tabs>
  <ion-router-outlet></ion-router-outlet>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="event">
      <ion-icon name="play-circle"></ion-icon>
      Event
    </ion-tab-button>
    <ion-tab-button tab="stay">
      <ion-icon name="radio"></ion-icon>
      Stay
    </ion-tab-button>
    <ion-tab-button tab="travel">
      <ion-icon name="library"></ion-icon>
      Travel
    </ion-tab-button>
    <ion-tab-button tab="support">
      <ion-icon name="search"></ion-icon>
      Support
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
