.support_page {
    h4 {
      text-align: center;
      color: #F17B2D;
    }


    .main_card{
      padding: 5%;
      margin-top: 10%;
      border-radius: 20px;
      h3{
        color: #F17B2D;
      }
    }
  }

  .btncolor {
    --background: var(--ion-color-btn);
  }





