<div class="support_page">
  <div class="support">
    <h4>Help/Support</h4>
  </div>
  <div class="info_card">
    <ion-card>
      <ion-card-content>
        <ion-item>
          <ion-textarea placeholder="Information" [autoGrow]="true">
          </ion-textarea>
        </ion-item>
      </ion-card-content>
    </ion-card>
  </div>
  <div class="contact_card">
    <ion-card>
      <ion-card-content>
        <h3>Contacts</h3>
        <ion-item lines="none">
          <ion-text>xxxxxxxxxx</ion-text>
        </ion-item>
        <ion-item lines="none">
          <ion-text>xxxxxxxxxx</ion-text>
        </ion-item>
        <ion-item lines="none">
          <ion-text>xxxxxxxxxx</ion-text>
        </ion-item>
      </ion-card-content>
    </ion-card>
  </div>
</div>
