<!-- <div class="head">
  <ion-header>
    <ion-toolbar>
      <h1>{{'veriFication'|translate}}</h1>
      <ion-buttons slot="end">
        <ion-button color="primary" routerLink="register">Sign Up</ion-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>
</div>
<ion-content class="fondologin">
  <div class="header">
    <img src="./../../../assets/image/download__1_-removebg-preview.png">
    <p>{{'youWillGeOtpSms'|translate}}</p>
  </div>
  <form class="form">
    <ng-otp-input (onInputChange)="onOtpChange($event)" [config]="{length:5}"></ng-otp-input>
    <ion-button class="login" expand="full" shape="round" routerLink="/sidebar">{{'verify'|translate}}</ion-button>
    <p>{{'dontReceiveVerificationOtp'|translate}}<a routerLink="/login">{{'resendAgain'|translate}}</a></p>
  </form>
</ion-content> -->

<ion-content>
  <div class="heder_img">
    <img src="assets/image/power_of_10_hero_bg2x.png" width="100%">
  </div>
  <div class="heder_content">
    <img src="assets/image/cropped-logo4.png" width="70px">
    <p>Ramakrishna mission vidyalaya periyanakapalayam srkv(post) coimbatore-641020</p>
  </div>
  <ion-card>
    <ion-card-content>
      <div class="otp_logo">
        <img src="./../../../assets/image/otp.png" width="40%">
      </div>
      <h4>Enter OTP</h4>
      <p>An OTP has been sent to your registered MobileNumber</p>
      <ion-item>
        <ion-label position="floating">Enter The OTP</ion-label>
        <ion-input type="number"></ion-input>
      </ion-item>
      <p>{{'dontReceiveVerificationOtp'|translate}}&nbsp; &nbsp;<a routerLink="/login">Resend</a></p>
      <button class="Next_btn" routerLink="/user-profile">Verify</button>
    </ion-card-content>
  </ion-card>
</ion-content>
