<ion-card>
  <ion-card-content>
    <div class="travel_page">
      <div class="trvel_info">
        <h4>Travel</h4>
        <ion-grid>
          <ion-row>
            <ion-col>
              <ion-text>From</ion-text>
            </ion-col>
            <ion-col>
              <ion-text>To</ion-text>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              <ion-text>Dep Date</ion-text>
            </ion-col>
            <ion-col>
              <ion-text>Arrival Date</ion-text>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              <ion-text>Travel Type</ion-text>
            </ion-col>
            <ion-col>
              <ion-text>Peoples</ion-text>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              <ion-text>Ticket View:</ion-text>
            </ion-col>
            <ion-col>
              <img src="./../../../assets/image/ticket View.png" width="50%">
            </ion-col>
          </ion-row>
        </ion-grid>
      </div>
    </div>
  </ion-card-content>
</ion-card>


<!-- <ion-row>
  <ion-col>Dep Date</ion-col>
  <ion-col>Arrival Date</ion-col>
</ion-row>
<ion-row>
  <ion-col>Dep Time</ion-col>
  <ion-col>Arrival Time</ion-col>
</ion-row>
<ion-row>
  <ion-col>Travel Type</ion-col>
  <ion-col>Peoples</ion-col>
</ion-row>
<ion-row>
  <ion-col>Ticket View:</ion-col>
  <ion-col>
    <img src="./../../../assets/image/ticket View.png" width="50%">
  </ion-col>
</ion-row> -->
