
ion-card{
  position: relative;
  top: 7%;
  bottom: 7%;
  border-radius: 20px;
}
.stay_page {
  .stay {
    h4{
      text-align: center;
    }
  }
  ion-item {
    padding: 4%;
  }
  ion-text{
    color: #F17B2D;
  }
}
