<ion-content>
  <ion-card>
    <ion-card-content>
      <div class="stay_page">
        <div class="stay">
          <h4>Stay Info</h4>
          <ion-grid>
            <ion-row>
              <ion-col>
                <ion-item lines="none">
                  <ion-text>Guest House:</ion-text>
                </ion-item>
                <ion-item lines="none">
                  <ion-text>Rooms:</ion-text>
                </ion-item>
                <ion-item lines="none">
                  <ion-text>From Date:</ion-text>
                </ion-item>
                <ion-item lines="none">
                  <ion-text>To Date:</ion-text>
                </ion-item>
              </ion-col>
            </ion-row>
          </ion-grid>
        </div>
      </div>
    </ion-card-content>
  </ion-card>
</ion-content>
